header {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 80px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.header-btn {
    padding: 10px 20px;
    border: none;
    background-color: #e85000;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.header-btn:hover {
    background-color: #a33b00;
}

.hamburger {
    display: flex !important;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
}


@media (max-width: 768px) {
    .nav-buttons {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #000;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .nav-buttons.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }}